.centrado{
  text-align: center
}

.list {
  margin-left: 20px;
  margin-right: 20px;

}

.h9{
text-align: center;

}

.elementor-video-iframe {
  padding-left:110px;
  padding-right:110px;
  padding-top: 110px;
  padding-bottom: 110;



}

.video {
  display: flex;
  align-items: center;
  justify-content: center;

}
