.centrado{
  text-align: center
}

#lista1 li {
     display:inline;
     text-align: center;
     float:left;
	   display: inline-block;
     padding-left:110px;
     padding-right:110px;
     margin:10px;
     width:200px;
}

.lihome {
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;

}

.h9{
text-align: center;

}

.elementor-video-iframe {
  padding-left:110px;
  padding-right:110px;
  padding-top: 110px;
  padding-bottom: 110;



}

.video {
  display: flex;
  align-items: center;
  justify-content: center;

}

.open {
  display: flex;
  align-items: center;
  justify-content: center;
}
